---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% if post.subtitle %}
         <span style="font-size: 1.5rem;">{{ post.subtitle }}</span>
      {% endif %}
</h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      
    {% if post.excerpt_separator %}
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% endif %}
    </article>
  {% endfor %}
</div>